In [1]:
import pandas as pd

In [ ]:
# get data from a json
df_json = pd.read_json('dados/aluguel.json')
df_json

In [ ]:
# get data from txt
df_txt = pd.read_table('dados/aluguel.txt')
df_txt

In [ ]:
# get data from xlsx file
df_xlsx = pd.read_excel('dados/aluguel.xlsx')
df_xlsx

In [2]:
# get data from a html, install dependency if required
#!pip install lxml
#!pip install html5lib 
#!pip install BeautifulSoup4
df_html = pd.read_html('dados/dados_html_1.html')
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO     UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [7]:
df_html = pd.read_html('https://www.federalreserve.gov/releases/h3/current/default.htm')
len(df_html)
df_html[0]
df_html[1]
df_html[2]

,Date,Borrowings from the Federal Reserve,Nonborrowed \n\n reserves 1,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0
,Total,Primary,Secondary,Seasonal,Other credit \n\nextensions,Unnamed: 5_level_1,Unnamed: 6_level_1
0,Month 2,NaN,NaN,NaN,NaN,NaN,NaN
1,Feb. 2018,20.0,7.0,0.0,14.0,0.0,2305236.0
2,Mar. 2018,16.0,4.0,0.0,12.0,0.0,2230859.0
3,Apr. 2018,51.0,16.0,0.0,35.0,0.0,2150996.0
4,May 2018,94.0,25.0,0.0,69.0,0.0,2086483.0
5,June 2018,143.0,17.0,0.0,126.0,0.0,2052605.0
6,July 2018,224.0,20.0,0.0,203.0,0.0,2014388.0
7,Aug. 2018,261.0,18.0,0.0,243.0,0.0,1975833.0
8,Sept. 2018,290.0,38.0,0.0,252.0,0.0,1937721.0
9,Oct. 2018,209.0,21.0,0.0,189.0,0.0,1895589.0
10,Nov. 2018,97.0,11.0,0.0,86.0,0.0,1840731.0
11,Dec. 2018,76.0,18.0,0.0,58.0,0.0,1759780.0
12,Jan. 2019,26.0,20.0,0.0,6.0,0.0,1707230.0
13,Feb. 2019,19.0,7.0,0.0,12.0,0.0,1713664.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Two weeks ending 3,NaN,NaN,NaN,NaN,NaN,NaN
16,"Jan. 30, 2019",34.0,29.0,0.0,5.0,0.0,1689986.0
17,"Feb. 13, 2019",18.0,5.0,0.0,12.0,0.0,1718942.0
18,"Feb. 27, 2019",21.0,9.0,0.0,12.0,0.0,1704291.0
19,"Mar. 13, 2019",12.0,5.0,0.0,8.0,0.0,1776265.0
20,"Mar. 27, 2019",13.0,5.0,0.0,8.0,0.0,1692253.0