## removing nan from our dataframe

In [2]:
import pandas as pd
df_data = pd.read_csv('data/aluguel.csv', sep=';')
df_data.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [3]:
# identify null values
df_data.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
0      False   False    False  False   False  False  False       False  False
1      False   False    False  False   False  False  False        True   True
2      False   False    False  False   False  False  False       False  False
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False   True
5      False   False    False  False   False  False  False        True   True
6      False   False    False  False   False  False  False       False  False
7      False   False    False  False   False  False  False        True   True
8      False   False    False  False   False  False  False        True   True
9      False   False    False  False   False  False  False       False  False
10     False   False    False  False   False  False  False        True   True
11     False   False    False  False   False  False  False       False  False
12     False   False    False  False   False  False  False       False  False
13     False   False    False  False   False  False  False       False  False
14     False   False    False  False   False  False  False       False   True
15     False   False    False  False   False  False  False       False  False
16     False   False    False  False   False  False  False        True  False
17     False   False    False  False   False  False  False       False   True
18     False   False    False  False   False  False  False        True   True
19     False   False    False  False   False  False  False       False  False
20     False   False    False  False   False  False  False       False  False
21     False   False    False  False   False  False  False       False  False
22     False   False    False  False   False  False  False       False   True
23     False   False    False  False   False  False  False       False   True
24     False   False    False  False   False  False  False       False   True
25     False   False    False  False   False  False  False       False  False
26     False   False    False  False   False  False  False       False   True
27     False   False    False  False   False  False  False       False  False
28     False   False    False  False   False  False  False       False  False
29     False   False    False  False   False  False  False       False   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
32930  False   False    False  False   False  False  False       False  False
32931  False   False    False  False   False  False  False        True  False
32932  False   False    False  False   False  False  False       False  False
32933  False   False    False  False   False  False  False       False  False
32934  False   False    False  False   False  False  False       False  False
32935  False   False    False  False   False  False  False       False  False
32936  False   False    False  False   False  False  False       False  False
32937  False   False    False  False   False  False  False       False  False
32938  False   False    False  False   False  False  False       False  False
32939  False   False    False  False   False  False  False       False  False
32940  False   False    False  False   False  False  False       False  False
32941  False   False    False  False   False  False  False       False  False
32942  False   False    False  False   False  False  False       False   True
32943  False   False    False  False   False  False  False       False  False
32944  False   False    False  False   False  False  False       False   True
32945  False   False    False  False   False  False  False       False  False
32946  False   False    False  False   False  False  False       False  False
32947  False   False    False  False   False  False  False       False  False
32948  False   False    False  False   False  False  False       False  False
32949  False   False    False  False   False  False  False       False  False
32950  False   False    False  False   False  False  False       False  False
32951  False   False    False  False   False  False  False       False   True
32952  False   False    False  False   False  False  False       False  False
32953  False   False    False  False   False  False  False       False  False
32954  False   False    False  False   False  False  False        True   True
32955  False   False    False  False   False  False  False       False  False
32956  False   False    False  False   False  False  False       False  False
32957  False   False    False  False   False  False  False       False  False
32958  False   False    False  False   False  False  False       False   True
32959  False   False    False  False   False  False  False       False  False

[32960 rows x 9 columns]

In [4]:
# identify null values consolidate by columns
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
Tipo          32960 non-null object
Bairro        32960 non-null object
Quartos       32960 non-null int64
Vagas         32960 non-null int64
Suites        32960 non-null int64
Area          32960 non-null int64
Valor         32943 non-null float64
Condominio    28867 non-null float64
IPTU          22723 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [5]:
# bring only records that has VALOR null
df_data[df_data['Valor'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
76,Apartamento,Barra da Tijuca,2,1,1,70,NaN,970.0,68.0
2186,Apartamento,Leme,2,0,0,75,NaN,878.0,NaN
2456,Casa,Campo Grande,3,4,3,363,NaN,NaN,NaN
2646,Loja/Salão,Barra da Tijuca,0,2,0,80,NaN,NaN,NaN
2941,Apartamento,Botafogo,2,0,0,95,NaN,1010.0,170.0
2973,Apartamento,Copacabana,2,0,0,72,NaN,850.0,NaN
6598,Loja/Salão,Andaraí,0,0,0,326,NaN,NaN,1140.0
7302,Casa,Campo Grande,3,2,1,100,NaN,NaN,NaN
12683,Apartamento,Leme,2,0,1,75,NaN,878.0,NaN
13229,Apartamento,Glória,3,0,1,135,NaN,910.0,228.0
13525,Apartamento,Gávea,3,1,1,105,NaN,880.0,221.0
13579,Conjunto Comercial/Sala,Botafogo,0,3,0,200,NaN,10.0,NaN
20948,Conjunto Comercial/Sala,Freguesia (Jacarepaguá),0,1,0,24,NaN,500.0,74.0
21822,Loja Shopping/ Ct Comercial,Barra da Tijuca,0,2,0,77,NaN,3600.0,1390.0
23056,Conjunto Comercial/Sala,Botafogo,0,0,0,900,NaN,10.0,NaN
24805,Conjunto Comercial/Sala,Botafogo,0,0,0,500,NaN,10.0,NaN
29166,Conjunto Comercial/Sala,Botafogo,0,1,0,50,NaN,10.0,NaN

In [6]:
# remove NaN records
size_df = df_data.shape[0]
size_df

32960

In [7]:
df_data.dropna(subset = ['Valor'], inplace=True)
size_dt_without_nan = df_data.shape[0]
size_dt_without_nan

32943

In [8]:
print("{} dropped records".format(size_df - size_dt_without_nan))

17 dropped records

## handling nan in specific cases

In [12]:
df_data.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [18]:
# identify null condominio
df_data[df_data['Condominio'].isnull()]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
16,Prédio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0
18,Casa de Condomínio,Taquara,3,1,1,115,2000.0,NaN,NaN
31,Casa,Campo Grande,4,1,2,400,12000.0,NaN,NaN
35,Conjunto Comercial/Sala,Barra da Tijuca,0,1,0,22,700.0,NaN,NaN
80,Galpão/Depósito/Armazém,Vargem Grande,0,6,0,2236,40000.0,NaN,NaN
83,Casa Comercial,Botafogo,0,0,0,140,7000.0,NaN,137.0
84,Galpão/Depósito/Armazém,Maria da Graça,0,3,0,1000,9800.0,NaN,820.0
113,Apartamento,Praça Seca,2,0,0,80,1000.0,NaN,NaN
117,Casa de Vila,Piedade,2,1,0,70,1300.0,NaN,NaN
120,Galpão/Depósito/Armazém,Bonsucesso,0,10,0,13010,100000.0,NaN,12000.0
138,Casa,Maracanã,8,3,5,259,7000.0,NaN,NaN
142,Casa,Benfica,1,0,0,33,1200.0,NaN,NaN
149,Galpão/Depósito/Armazém,Quintino Bocaiúva,0,0,0,550,4300.0,NaN,NaN
150,Conjunto Comercial/Sala,Campo Grande,0,0,0,20,800.0,NaN,NaN
159,Terreno Padrão,Barra da Tijuca,0,0,0,1110,140000.0,NaN,NaN
166,Apartamento,Rocha Miranda,2,1,0,50,1100.0,NaN,NaN
194,Apartamento,Barra da Tijuca,1,1,1,65,2350.0,NaN,NaN
204,Casa Comercial,Botafogo,0,0,0,220,16000.0,NaN,NaN
207,Box/Garagem,Tijuca,0,0,0,0,380.0,NaN,NaN
214,Loja/Salão,Maracanã,0,0,0,85,6500.0,NaN,385.0
216,Casa,Jardim Carioca,3,2,1,135,3000.0,NaN,NaN
236,Casa,Lins de Vasconcelos,2,0,0,40,950.0,NaN,50.0
258,Apartamento,Cidade Nova,1,0,0,46,1000.0,NaN,NaN
265,Apartamento,Olaria,1,0,0,39,800.0,NaN,NaN
274,Loja/Salão,Barra da Tijuca,0,8,0,500,38000.0,NaN,4971.0
...,...,...,...,...,...,...,...,...,...
32720,Loja/Salão,Centro,0,0,0,202,4800.0,NaN,NaN
32732,Casa,Maracanã,4,2,1,240,6500.0,NaN,700.0
32734,Loja/Salão,Copacabana,0,0,0,85,8000.0,NaN,170.0
32736,Conjunto Comercial/Sala,Campo Grande,0,0,0,60,1000.0,NaN,NaN
32739,Casa,Campo Grande,2,1,2,86,1500.0,NaN,NaN
32747,Loja/Salão,Flamengo,0,0,0,100,5000.0,NaN,600.0
32750,Galpão/Depósito/Armazém,Taquara,0,10,0,720,22000.0,NaN,NaN
32752,Casa Comercial,Campo Grande,3,2,0,287,7000.0,NaN,NaN
32768,Loja/Salão,Copacabana,0,0,0,36,4000.0,NaN,282.0
32778,Casa,Vila da Penha,2,1,0,80,1500.0,NaN,NaN
32804,Casa de Vila,Riachuelo,3,0,0,73,850.0,NaN,NaN
32809,Apartamento,Cascadura,3,0,1,70,1200.0,NaN,NaN
32814,Galpão/Depósito/Armazém,Ramos,0,10,0,1800,25000.0,NaN,6182.0
32833,Prédio Inteiro,Penha,0,0,0,600,6500.0,NaN,NaN
32837,Galpão/Depósito/Armazém,Penha,0,0,0,500,10000.0,NaN,NaN
32846,Loja/Salão,Ramos,0,0,0,40,2500.0,NaN,NaN
32859,Casa,Campo Grande,1,0,0,50,600.0,NaN,NaN
32865,Casa de Vila,Pavuna,2,0,0,55,600.0,NaN,NaN
32866,Conjunto Comercial/Sala,Del Castilho,0,1,0,175,3000.0,NaN,199.0
32868,Conjunto Comercial/Sala,Jardim Botânico,1,3,0,500,17000.0,NaN,1000.0
32893,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,NaN,NaN
32897,Galpão/Depósito/Armazém,Anil,0,0,0,5500,70000.0,NaN,NaN
32899,Galpão/Depósito/Armazém,Bonsucesso,0,0,0,3200,18000.0,NaN,NaN
32911,Casa,Bento Ribeiro,2,1,0,60,1400.0,NaN,NaN
32912,Conjunto Comercial/Sala,Taquara,0,1,0,36,1500.0,NaN,NaN
32914,Loja/Salão,Campo Grande,0,0,0,160,2650.0,NaN,NaN
32928,Loja/Salão,Leblon,0,0,0,68,25000.0,NaN,1113.0
32929,Loja/Salão,Freguesia (Jacarepaguá),0,0,0,80,5800.0,NaN,215.0
32931,Casa,Centro,5,0,1,160,5000.0,NaN,80.0
32954,Box/Garagem,Centro,0,0,0,755,14000.0,NaN,NaN

In [29]:
# Task - remove only Apartments that have nan condominios
select_for_delete = (df_data['Tipo'] == 'Apartamento') & (df_data['Condominio'].isnull())
rows_before_delete = df_data.shape[0]
df_data = df_data[~select_for_delete] # the ~ sinal change True to False and vice versa
rows_after_delete =  df_data.shape[0]
print("Apartments deleted : {}".format(rows_before_delete - rows_after_delete))

Apartments deleted : 745

In [33]:
df_data[df_data['Condominio'].isnull()].shape[0]

3344

In [36]:
# fill NaN with zero
df_data_2 = df_data.fillna({"Condominio" : 0, "IPTU": 0})
df_data_2.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0